flujos/AAA___Chat_with_Transcription___Option_A.json
{
  "name": "AAA - Chat with Transcription - Option A",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        -80
      ],
      "id": "c327172b-b5d8-4b40-a2a4-3fe37987278e",
      "name": "When chat message received",
      "webhookId": "ded2df70-b967-4077-9722-ca9e3ba0d13b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres un asistente inteligente cuyo propósito es ayudar al usuario proporcionándole información precisa y relevante. \n\nPara lograr esto, puedes interpretar la intención del usuario y buscar contenido semánticamente relacionado en una base de datos vectorial alojada en Qdrant.\n\nCuando recibas una consulta del usuario, debes usar la herramienta qdrantSearch para buscar información relevante en la base de datos. Solo después de obtener resultados, genera una respuesta basada en los documentos encontrados.\n\nSi no encuentras resultados, responde de acuerdo al conocimiento que posees actualmente aclarando antes que no encontraste información relevante en base de datos\n\nCuando el usuario realice una consulta o formule una pregunta, deberás:\n1. Comprender la intención principal del mensaje.\n2. Generar una representación vectorial del contenido (embedding).\n3. Realizar una búsqueda en Qdrant utilizando ese vector para encontrar información similar.\n4. Analizar los resultados obtenidos y sintetizar una respuesta clara, útil y adaptada al contexto del usuario.\n\nTu objetivo es actuar como un asistente proactivo, preciso y orientado a la utilidad, capaz de conectar la intención del usuario con conocimiento previamente indexado en la base de datos.\n\nSi no encuentras información relevante en la base de datos, responde de forma transparente e intenta guiar al usuario hacia una reformulación o consulta adicional.\n\nMantén siempre un tono profesional, claro y empático."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        60,
        -80
      ],
      "id": "575e1b4b-af9c-43fd-966d-6a14a11d03d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -60,
        120
      ],
      "id": "a410cab3-97c2-4c8e-ade3-437a3e473f94",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fyUtFUvJF3bGUg4z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c182502-60e6-4198-8574-bf2dc5ca0895",
              "name": "chat",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "64d0ba93-689e-4920-a2ce-545fdb99d8e9",
              "name": "vector_dadtabase_name",
              "value": "transcription_embeddings_a",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        -80
      ],
      "id": "be85ceb3-8c4c-4eb1-ada0-16b60f23afb7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        120
      ],
      "id": "586d0db3-2dd7-4132-a44d-e4ebc6a10f81",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "={{ $json.vector_dadtabase_name }}",
        "description": "=La data corresponde a líneas de conversación en una transcripción de un audio"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        280,
        140
      ],
      "id": "e389cd2d-afe9-4fc6-aa59-77b94715a711",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.vector_dadtabase_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        120,
        280
      ],
      "id": "a1b3021f-c333-4ac5-97a4-ca8a68e4e8fc",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "ZWm1zOTiZzpOmpdB",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        340
      ],
      "id": "bf42c784-47f9-4b42-a7ce-6337372b00f0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fyUtFUvJF3bGUg4z",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        100,
        460
      ],
      "id": "4bb91f04-94c2-442c-8c19-e167159a4e38",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "4JqrfLS96mF0rpms",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c637e3f-d54e-46a8-9fb6-4057004b7b81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be6c6d7ff7c15c8469c795932a0a6b3b9d114f5a447f9d3fb2f8180e44bcf430"
  },
  "id": "ZT3C0iXCDrGkiJyq",
  "tags": []
}